[["(or $a $b)" 7]
 ["(or $c $b)" 0]
 ["(or $e $d)" ""]
 ["(and $b $c)" 0]
 ["(and $a $b)" nil]
 ["(or $a $e $b)" 7]
 ["(and (or $a $b) (or $c $d))" 0]
 ["(when-let [x (or $a $b)] x)" 7]
 ["(if-let [x (and $b $c)] (inc x) -1)" 1]
 ["(or (first $xs) 9)" 1]
 #_["(let [n (atom 0)] (or (do (swap! n inc) nil) @n))" 1]
 ["(do (set! $z 1) (or $a $z))" 1]
 ["(case $b 7 \"seven\" \"other\")" "seven"]
 ["(cond $a 1 $c 2 :else 3)" 2]
 ["(let [x $b y (inc x)] (* x y))" 56]
 ["(when (and $b $c) (or $a \"z\"))" "z"]
 ["(str (or $a \"none\"))" "none"]
 #_["(let [x (let [y $b] (inc y))] (or $a x))" 8]
 ["(some-> $b inc)" 8]
 ["(if (or $a $e) 1 2)" 2]
 ["(when-some [x $c] (when-let [y (or $a $b)] (+ x y)))" 7]]
