.cpcache
.cache
package-lock.json
target
node_modules
.shadow-cljs
lib
report.html
test/scratch.js
dist
.work
test/scratch.cjs
*.mjs
!/examples/wordle/wordle.mjs
test/*.mjs
example.mjs
/examples/vite/vite-project/cherry.mjs
.lein-repl-history
scratch.cljs
.vscode
.nrepl-port
examples/quickjs/hello
.repl
.clerk
public
.test
