.cpcache
.cache
package-lock.json
target
node_modules
.shadow-cljs
lib
report.html
test/scratch.js
dist
.work
test/scratch.cjs
*.mjs
!/examples/wordle/wordle.mjs
test/*.mjs
example.mjs
/examples/vite/vite-project/cherry.mjs
.lein-repl-history
scratch.cljs
.vscode
.nrepl-port
examples/quickjs/hello
.repl
**/public/js
.clerk
.test
scratch.js
compiler-common
garbage.js
playground
!examples/vite-react/public/index.html
wordle.cljs
bun.lockb
