{:min-bb-version "0.9.161"
 :deps {borkdude/rewrite-edn {:mvn/version "0.4.6"}
        org.babashka/cli {:mvn/version "0.2.23"}}
 :paths ["src" "resources" "bb"]
 :tasks {:requires ([babashka.cli :as cli]
                    [tasks :as t])
         :init (def playground-cli-opts (cli/parse-opts *command-line-args* {:coerce {:port :int :headers :edn}}))
         build (t/build-squint-npm-package)
         publish (t/publish)
         watch {:doc "Starts the squint dev watcher"
                :task (t/watch-squint)}
         serve-playground {:doc "Starts squint the playground http server"
                           :task (shell {:dir "playground"} "bb dev")}
         ;; -dev {:depends [watch serve-playground]}
         dev  {:doc  "Starts the squint dev watcher and the playground http server"
               :task (concurrently ["bb watch"
                                    "bb serve-playground"])
               #_(run '-dev {:parallel true})}
         bump-versions (load-file "script/bump_versions.clj")
         test:node {:doc "Run tests in Node.js"
                    :task (t/test-squint)}
         test:bb  {:doc "Run tests in bb"
                   :extra-deps {this/project {:local/root "."}}
                   :extra-paths ["test"]
                   :task (exec 'squint.compiler-test/run-tests)}
         test:clj {:doc "Run tests in Clojure"
                   :task (clojure "-X:test")}
         test:libs {:doc "Run external library tests"
                    :task (t/libtests)}}
 }
