{:paths ["src" "resources"]
 :deps {borkdude/edamame {:mvn/version "1.0.0"}
        babashka/process {:mvn/version "0.1.7"}
        org.babashka/cli {:mvn/version "0.4.37"}
        org.babashka/sci {:mvn/version "0.3.32"}
        io.github.squint-cljs/compiler-common
        {:git/sha "554ba4cc92ebf62c5b54a67980c42da387372048"}}
 :aliases
 {:dev {io.github.squint-cljs/compiler-common {:local/root "compiler-common"}}
  :cljs {:extra-paths ["test"]
         :extra-deps {thheller/shadow-cljs {:mvn/version "2.19.6"}}}
  :test ;; added by neil
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                babashka/fs {:mvn/version "0.1.6"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}
  :nextjournal/clerk {:extra-deps {io.github.nextjournal/clerk {:mvn/version "0.10.562"}}
                      :exec-fn nextjournal.clerk/build-static-app!
                      :exec-args {:paths ["test/squint/clerk.clj"]}}}
 }
