{:paths ["src" "resources"]
 :deps {io.github.squint-cljs/compiler-common-squint
        {:git/url "https://github.com/squint-cljs/compiler-common"
         :git/sha "ca1bea0be718d717babda89cf59e8dc2ca59eb6c"
         :deps/root "squint"}}}
