{:deps {borkdude/edamame {:mvn/version "1.0.0"}}
 :aliases
 {:cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.19.6"}}}
  :test ;; added by neil
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                babashka/fs {:mvn/version "0.1.6"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}}

 }
