{:deps {:aliases [:cljs]}
 :builds
 {:squint
  {:js-options {;; don't bundle any npm libs
                :js-provider :import}
   :compiler-options {:infer-externs :auto}
   :target :esm
   :runtime :browser
   :devtools {:enabled false}
   :output-dir "lib"
   :modules
   {:compiler {:exports
               {compileString squint.compiler/compile-string}}
    :compiler.sci {:depends-on #{:compiler :compiler.node}
                   :init-fn squint.compiler.sci/init}
    :compiler.node {:depends-on #{:compiler}
                    :exports
                    {compileFile squint.compiler.node/compile-file-js
                     compileString squint.compiler.node/compile-string-js}}
    :cljs.pprint {:entries [cljs.pprint]
                  :depends-on #{:compiler}}
    :node.nrepl_server {:depends-on #{:compiler.node :cljs.pprint}
                        :exports {startServer squint.repl.nrepl-server/start-server}}
    :cli {:depends-on #{:compiler :compiler.node}
          :init-fn squint.internal.cli/init}}
   :build-hooks [(shadow.cljs.build-report/hook
                  {:output-to "report.html"})]}}}
