{:deps {:aliases [:cljs]}
 :builds
 {:squint
  {:js-options {;; don't bundle any npm libs
                :js-provider :import}
   :compiler-options {:infer-externs :auto
                      ;; we keep the deprecated *-string* aliases and their
                      ;; tests around on purpose, so silence the warning
                      :warnings {:fn-deprecated false}}
   :target :esm
   :runtime :browser
   :devtools {:enabled false}
   :output-dir "lib"
   :modules
   {:compiler {:exports
               {compileString squint.compiler/compile-string
                compileStringEx squint.compiler/compileStringEx}}
    ;; this is necessary to move fs, path to a common node module instead of to compiler
    :node {:entries [] :depends-on #{:compiler}}
    :compiler.sci {:depends-on #{:compiler :compiler.node :node}
                   :init-fn squint.compiler.sci/init}
    :compiler.node {:depends-on #{:compiler :node}
                    :exports
                    {compileFile squint.compiler.node/compile-file-js
                     compileString squint.compiler.node/compile-string-js}}
    :cljs.pprint {:entries [cljs.pprint]
                  :depends-on #{:compiler}}
    :node.nrepl_server {:depends-on #{:compiler.node :cljs.pprint :node}
                        :exports {startServer squint.repl.nrepl-server/start-server
                                  handleBrowserMessage squint.repl.nrepl-server/handle-browser-message
                                  evalString squint.repl.nrepl-server/evaluate-string}}
    :cli {:depends-on #{:compiler :compiler.node :node}
          :init-fn squint.internal.cli/init}}
   :build-hooks [(shadow.cljs.build-report/hook
                  {:output-to "report.html"})]}}}
