;; (sort (keys (ns-publics 'cljs.core)))
{:vars #{
         ->LazySeq
         LazySeq

         aclone
         ;; add-tap
         ;; add-to-string-hash-cache
         add-watch
         aget
         alength
         alter-meta!
         ancestors
         any?
         apply
         apply-to
         array
         array-chunk
         array-index-of
         array-iter
         array-list
         array-map
         array-seq
         array?
         aset
         assoc
         assoc!
         assoc-in
         associative?
         atom
         bit-and
         bit-and-not
         bit-clear
         bit-count
         bit-flip
         bit-not
         bit-or
         bit-set
         bit-shift-left
         bit-shift-right
         bit-shift-right-zero-fill
         bit-test
         bit-xor
         boolean
         boolean?
         booleans
         bounded-count
         butlast
         byte
         bytes
         cat
         char
         char?
         chars
         chunk
         chunk-append
         chunk-buffer
         chunk-cons
         chunk-first
         chunk-next
         chunk-rest
         chunked-seq
         chunked-seq?
         clj->js
         clone
         cloneable?
         coll?
         comp
         comparator
         compare
         compare-and-set!
         complement
         completing
         concat
         conj
         conj!
         cons
         constantly
         contains?
         count
         counted?
         ;;create-ns
         cycle
         dec
         dedupe
         default-dispatch-val
         delay?
         demunge
         deref
         derive
         descendants
         disj
         disj!
         dispatch-fn
         dissoc
         dissoc!
         distinct
         distinct?
         divide
         doall
         dorun
         double
         double-array
         double?
         doubles
         drop
         drop-last
         drop-while
         eduction
         empty
         empty?
         enable-console-print!
         ensure-reduced
         equiv-map
         es6-entries-iterator
         es6-iterator
         es6-iterator-seq
         es6-set-entries-iterator
         ;; eval
         even?
         every-pred
         every?
         ex-cause
         ex-data
         ex-info
         ex-message
         false?
         ffirst
         filter
         filterv
         find
         ;;find-macros-ns
         ;;find-ns
         ;;find-ns-obj
         first
         flatten
         float
         float?
         floats
         flush
         fn?
         fnext
         fnil
         force
         frequencies
         gensym
         gensym_counter
         get
         get-in
         get-method
         get-validator
         group-by
         halt-when
         hash
         hash-combine
         hash-keyword
         hash-map
         hash-ordered-coll
         hash-set
         hash-string
         hash-string*
         hash-unordered-coll
         ident?
         identical?
         identity
         ifind?
         ifn?
         imul
         inc
         indexed?
         infinite?
         inst-ms
         inst-ms*
         inst?
         instance?
         int
         int-array
         int-rotate-left
         int?
         integer?
         interleave
         interpose
         into
         into-array
         ints
         is_proto_
         isa?
         iter
         iterable?
         iterate
         js->clj
         js-delete
         js-invoke
         js-iterable?
         js-keys
         js-mod
         keyword
         js-obj
         js-reserved
         js-symbol?
         juxt
         keep
         keep-indexed
         key
         key->js
         key-test
         keys
         keyword-identical?
         keyword?
         last
         list
         list*
         list?
         long
         long-array
         longs
         make-array
         make-hierarchy
         map
         map-entry?
         map-indexed
         map?
         mapcat
         mapv
         max
         max-key
         memoize
         merge
         merge-with
         meta
         methods
         min
         min-key
         missing-protocol
         mix-collection-hash
         mk-bound-fn
         mod
         munge
         name
         namespace
         nat-int?
         native-satisfies?
         neg-int?
         neg?
         newline
         next
         nfirst
         nil-iter
         nil?
         nnext
         not
         not-any?
         not-empty
         not-every?
         not-native
         not=
         ;; ns-interns*
         ;; ns-name
         -nth
         nth
         nthnext
         nthrest
         number?
         rest
         obj-map
         object-array
         object?
         odd?
         parents
         partial
         partition
         partition-all
         partition-by
         peek
         persistent!
         persistent-array-map-seq
         pop
         pop!
         pos-int?
         pos?
         pr
         pr-seq-writer
         pr-sequential-writer
         pr-str
         pr-str*
         pr-str-with-opts
         prefer-method
         prefers
         prim-seq
         print
         print-map
         print-meta?
         print-prefix-map
         print-str
         println
         println-str
         prn
         prn-str
         prn-str-with-opts
         qualified-ident?
         qualified-keyword?
         qualified-symbol?
         quot
         rand
         rand-int
         rand-nth
         random-sample
         random-uuid
         range
         ranged-iterator
         re-find
         re-matches
         re-pattern
         re-seq
         realized?
         record?
         reduce
         reduce-kv
         reduceable?
         reduced
         reduced?
         reductions
         regexp?
         rem
         remove
         remove-all-methods
         remove-method
         remove-tap
         remove-watch
         repeat
         repeatedly
         replace
         replicate
         reset!
         reset-meta!
         reset-vals!
         reverse
         reversible?
         rseq
         seq
         str
         rsubseq
         run!
         second
         select-keys
         seq-iter
         seq?
         seqable?
         sequence
         sequential?
         set
         set-from-indexed-seq
         set-print-err-fn!
         set-print-fn!
         set-validator!
         set?
         short
         shorts
         shuffle
         simple-ident?
         simple-keyword?
         simple-symbol?
         some
         some-fn
         some?
         sort
         sort-by
         sorted-map
         sorted-map-by
         sorted-set
         sorted-set-by
         sorted?
         special-symbol?
         split-at
         split-with
         spread
         string-hash-cache
         string-hash-cache-count
         string-iter
         string-print
         string?
         subs
         subseq
         subvec
         swap!
         swap-vals!
         symbol
         symbol-identical?
         symbol?
         ;; system-time
         ;; t_cljs$core11484
         ;; t_cljs$core9897
         tagged-literal
         tagged-literal?
         take
         take-last
         take-nth
         take-while
         tap>
         test
         to-array
         to-array-2d
         trampoline
         transduce
         transformer-iterator
         transient
         tree-seq
         true?
         truth_
         type
         type->str
         unchecked-add
         unchecked-add-int
         unchecked-byte
         unchecked-char
         unchecked-dec
         unchecked-dec-int
         unchecked-divide-int
         unchecked-double
         unchecked-float
         unchecked-inc
         unchecked-inc-int
         unchecked-int
         unchecked-long
         unchecked-multiply
         unchecked-multiply-int
         unchecked-negate
         unchecked-negate-int
         unchecked-remainder-int
         unchecked-short
         unchecked-subtract
         unchecked-subtract-int
         undefined?
         underive
         unreduced
         unsigned-bit-shift-right
         update
         update-in
         uri?
         uuid
         uuid?
         val
         vals
         var?
         vary-meta
         vec
         vector
         vector?
         volatile!
         volatile?
         vreset!
         with-meta
         write-all
         zero?
         zipmap
         ;; manually added:
         --destructure-map
         }}
