{:pods {org.babashka/fswatcher {:version "0.0.3"}}
 :paths ["."]
 :tasks
 {:requires ([tasks :as t])

  next-dev (shell "npx next dev")

  watch-cljs (t/watch-cljs {})

  -dev {:depends [next-dev watch-cljs]}

  dev {:doc "Run next dev + watcher to re-build JSX"
       :task (run '-dev {:parallel true})}}}
