#{seq reduce first dissoc atom dec map assoc_in reset_BANG_ rest PROTOCOL_SENTINEL _PLUS_ reduced_QMARK_ range disj seqable_QMARK_ iterable conj get disj_BANG_ vec second prn odd_QMARK_ assoc_BANG_ println Atom nth nil_QMARK_ contains_QMARK_ assoc_in_BANG_ dissoc_BANG_ not pr_str swap_BANG_ vector mapv subvec reduced even_QMARK_ inc str apply map_indexed deref assoc constantly conj_BANG_ re_matches}