#{seq reduce first dissoc atom dec map assoc_in reset_BANG_ rest PROTOCOL_SENTINEL reduced_QMARK_ range disj seqable_QMARK_ iterable conj get disj_BANG_ vec second prn assoc_BANG_ println Atom nth nil_QMARK_ assoc_in_BANG_ dissoc_BANG_ not pr_str swap_BANG_ vector mapv subvec reduced inc str apply map_indexed deref assoc conj_BANG_ re_matches}
