{:pods {org.babashka/fswatcher {:version "0.0.3"}}
 :paths ["."]
 :tasks
 {:requires ([tasks :as t])

  vitetest (shell "npx vitest")

  watch-cljs (t/watch-cljs {})

  -dev {:depends [vitetest watch-cljs]}

  dev {:doc "Run vitetest + watcher to re-build cherry.cljs"
       :task (run '-dev {:parallel true})}}}
