{:tasks
 {init {:requires ([babashka.fs :as fs])
        :task (do
                (shell "npm install")
                (when-not (fs/exists? "public/js/squint-local")
                  (fs/create-sym-link "public/js/squint-local" (fs/parent (fs/parent (fs/absolutize ".")))))
                (let [squint-prod (fs/file "public" "public" "src" "squint")]
                  (fs/create-dirs squint-prod)
                  (doseq [source-file ["core.js" "string.js" "set.js" "html.js" "math.js"]]
                    (fs/copy (fs/file  ".." "src" "squint" source-file)
                             squint-prod
                             {:replace-existing true}))))}
  dev:squint (shell "npx squint watch")
  dev:vite (shell "npx vite --config=viteconfig.mjs public")
  -dev {:depends [dev:vite dev:squint]}
  dev {:depends [init]
       :task (run '-dev {:parallel true})}
  build {:depends [init]
         :task (shell "npx vite --config viteconfig.mjs build public")}}}
