{:paths ["src"]
 :deps {io.github.cjohansen/replicant {:git/url "https://github.com/borkdude/replicant"
                                       :git/sha "e8bf46f4604cc9303bf9120b526e52af494373d2"}}
 :output-dir "js"
 :extension "js"
 :main [app]}
