{:paths ["src"]
 :deps {io.github.cjohansen/replicant {:git/url "https://github.com/borkdude/replicant"
                                       :git/sha "de29298dccff23b254ab62bef3fa273d25a83ec1"}}
 :output-dir "js"
 :extension "js"
 :main [app]}
